name: Tests

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '.gitignore'
      - '*.md'
      - '*.rst'
      - 'LICENSE'
      - 'requirements.txt'
      - 'vdf2json/**'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '.gitignore'
      - '*.md'
      - '*.rst'
      - 'LICENSE'
      - 'requirements.txt'
      - 'vdf2json/**'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8, 3.9, 3.10]
        no-coverage: [0]
        include:
          - os: ubuntu-latest
            python-version: pypy-2.7
            no-coverage: 1
          - os: ubuntu-latest
            python-version: pypy-3.6
            no-coverage: 1
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python Env
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      - name: Install dependencies
        run: |
          make init
      - name: Run Tests
        env:
          NOCOV: ${{ matrix.no-coverage }}
        run: |
          make test
      - name: Upload to Coveralls
        # pypy + concurrenct=gevent not supported in coveragepy. See https://github.com/nedbat/coveragepy/issues/560
        if: matrix.no-coverage == 0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_PARALLEL: true
          COVERALLS_FLAG_NAME: "${{ matrix.os }}_${{ matrix.python-version }}"
        run: |
          coveralls --service=github

  coveralls:
    name: Finish Coveralls
    needs: test
    runs-on: ubuntu-latest
    container: python:3-slim
    steps:
    - name: Install coveralls
      run: |
        pip3 install --upgrade coveralls
    - name: Send coverage finish to coveralls.io
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        coveralls --finish
